/* @media (min-width: 100px) and (max-width: 1200px) {
    .container{
      padding:0;
      margin: 0;
      width: 100%;
      /* margin-right: -100px; */
      /*margin-right: -10px; */
      

      
    

    /* body { */
      /* padding:0;
      margin: 0; */
    /* margin-left:  -24px;
    margin-right: -24px;
    padding-left:  -24px;
    padding-right:  -24px;
    } */

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
/* } */

/*Desktops*/
@media(min-width:1281px)
{

    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        min-width: 1281px;
        
        padding-right: 60px;
        padding-left: 60px;
        width: 1281px;
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }
      /* .menu-container{
        /* justify-content: space-between; 
         align-items: center; 
        padding-right: 60px;
        padding-left: 60px;
        width: 1281px;
        /* margin-right: 200px;
        margin-left: 100px; 
        /* justify-content: center; 
      } */

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a;
    }
    .links:hover{
        color: #aac644;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 600px;
        width: 100%;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .adds{
        height: 600px; 
        width: 650px;
    }
    .adds-2{
        height: 600px; 
        width: 600px;
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}

.five,.six, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 3.43rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.sec6-card{
    border:0; 
    width: 395px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
}

/*Laptops and Desktops Screen*/
@media (min-width:1025px) and (max-width:1280px){
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 1280px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }
  /* .menu-container{
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  } */

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a;
    }
    .links:hover{
        color: #aac644;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 600px;
        width: 100%;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    /* .four-container{
        margin-left: auto!important;
        margin-right: auto!important;
    } */
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .adds{
        height: 600px; 
        width: 500px;
    }
    .adds-3{
        height: 600px; 
        width: 565px; 
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}

.five,.six, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 3.43rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.sec6-card{
    border:0; 
    width: 320px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */

}

/*Tablets and Ipads(Portrait) Screen*/
 @media (min-width: 768px) and (max-width:1024px) { */
     .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 1024px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a;
    }
    .links:hover{
        color: #aac644;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 600px;
        width: 100%;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 600px;
        width: 100%;
        
    }
    /* .adds-2{
        height: 700px; 
        width: 600px;
    } */
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}

.five, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}
.six{
    height: 700px!important;
    background-color: #fffef8;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.card-img-6-2{
    width: 400px!important;
    object-fit: cover;
}



.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.sec6-card{
    border:0; 
    max-width: 33.33%;
    overflow: hidden!important;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }

 /*Tablets and Ipads(landscape)*/
 @media (min-width:768px) and (max-width:1024px) and (orientation:landscape)
  {
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 1024px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }


     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a;
    }
    .links:hover{
        color: #aac644;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 600px;
        width: 100%;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .adds-2{
        height: 600px; 
        width: 370px;
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}
.displays-4-2{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #61794a;
    font-weight: 600;
    
    
}
.displays-5-2{
    font-family: 'Roboto',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
    color: #f8a715;
  
}

.five,.six, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }

 /*Low Resolution Tablets, Mobiles(Landscape)*/
 @media (min-width:481px) and (max-width:767px)
 {
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 1024px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }


     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a;
    }
    .links:hover{
        color: #aac644;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 1000px;
        width: 100%;
    }
    .three{
        height: 600px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 220px;
        padding-left: 20px!important;
        
      
    }
    .three-icon{
        padding-top: 2px!important;
    }
    .three-header{
        padding-top: 8px!important;
    }
    .four{
        background-color: #fffef8;
        height: 1300px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .row-4{
        justify-content: center;
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4-2{
        font-family: 'Roboto',sans-serif;
        font-size: 0.9rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 700;
        text-align: center;
        
        
    }
    .displays-4-7{
        font-family: 'Roboto',sans-serif;
        font-size: 0.8rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 700;
        text-align: center;
        
    }

    .displays-5-2{
        font-family: 'Roboto',sans-serif;
        font-size: 1.296rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
        text-align: center;
      
}

 .seven{
    background-color: #fffef8;
    height: 800px;
    width: 100%;
}
.five{
    background-color: #fffef8;
    height: 500px;
    width: 100%; 
}
.six{
    background-color: #fffef8;
    height: 1500px!important;
    width: 100%;
}
.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.sec6-card{
    border: 0;
}
.add-read{
    padding-bottom: 30px;
}
.card-5{
    padding-bottom: 20px!important;
}
.head-5{
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.form-eight{
    margin-left: 0!important;
}
.eight{
    height: 900px!important;
}
.last-right{
    text-align: left!important;
    margin-top: 30px;
}
.last-email{
    margin-top: 10px;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 20px;
        vertical-align: middle;
        margin-left: 250px;
        background-color: #aac644;
        
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }

 /*Most of the Mobiles(Portraits*/
 @media(min-width:320px) and (max-width:480px){
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        width: 100%;
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a;
    }
    .links:hover{
        color: #aac644;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 600px;
        width: 100%;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}

.five,.six, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 3.43rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }



  



