/* @media (min-width: 100px) and (max-width: 1200px) {
    .container{
      padding:0;
      margin: 0;
      width: 100%;
      /* margin-right: -100px; */
      /*margin-right: -10px; */
      

      
    

    /* body { */
      /* padding:0;
      margin: 0; */
    /* margin-left:  -24px;
    margin-right: -24px;
    padding-left:  -24px;
    padding-right:  -24px;
    } */

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }

   /* nav{
    background-color: white!important;
   } */
    /* .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a!important;
    }
    .links:hover{
        color: #aac644!important; */
/* } */

/*Desktops*/
@media(min-width:1281px)
{

    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        min-width: 1281px;
        
        padding-right: 60px;
        padding-left: 60px;
        width: 1281px;
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }
      /* .menu-container{
        /* justify-content: space-between; 
         align-items: center; 
        padding-right: 60px;
        padding-left: 60px;
        width: 1281px;
        /* margin-right: 200px;
        margin-left: 100px; 
        /* justify-content: center; 
      } */

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a!important;
    }
    .links:hover{
        color: #aac644!important;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 600px;
        width: 100%;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .adds{
        height: 600px; 
        width: 650px;
    }
    .adds-2{
        height: 600px; 
        width: 600px;
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    
    .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5{
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}



.displays-5-2{
    font-family: 'Roboto',sans-serif;
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 700;
    color: #f8a715;
  
}

.five,.six, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 3.43rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.sec6-card{
    border:0; 
    width: 395px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        /* vertical-align: middle; */
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
}

/*Laptops and Desktops Screen*/
@media (min-width:1025px) and (max-width:1280px){
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 1280px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }
  /* .menu-container{
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  } */

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a!important;
    }
    .links:hover{
        color: #aac644!important;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 600px;
        width: 100%;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    /* .four-container{
        margin-left: auto!important;
        margin-right: auto!important;
    } */
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .adds{
        height: 600px; 
        width: 500px;
    }
    .adds-3{
        height: 600px; 
        width: 565px; 
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}

.five,.six, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 3.43rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.sec6-card{
    border:0; 
    width: 320px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        /* vertical-align: middle; */
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */

}

/*Tablets and Ipads(Portrait) Screen*/
 @media (min-width: 768px) and (max-width:1024px) { */
     .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 1024px;
        
        padding-right: 20px;
        padding-left:20px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }

      .mob-h{
        height: 600px!important;
      }
      .mobi-h{
        height: 600px!important;
      }
      

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a!important;
    }
    .links:hover{
        color: #aac644!important;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 700px!important;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        
    }
    .three{
        height: 400px;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
        padding-left: 10px!important;
        padding-top: 10px!important;
      
    }
    .three .container-fluid{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .headers{
        font-size: 35px!important;
        font-family: 'Poppins',sans-serif!important;
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 600px;
        width: 100%;
        
    }
    .add-img-sec2{
        
        height: 350px!important;
        width: 100%;
        
    }
    /* .adds-2{
        height: 700px; 
        width: 600px;
    } */
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}
.displays-4-2{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #61794a;
    font-weight: 600;
    
    
}
.displays-5-2{
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #f8a715;
  
}
.head-5{
    font-size: 16px!important;
}

.five, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}
.six{
    height: 700px!important;
    background-color: #fffef8;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.card-img-6-2{
    width: 400px!important;
    object-fit: cover;
}
.form-eight{
    margin-left: 0!important;
    padding-left: 15px!important;
}
.last-right{
    text-align: left!important;
}



.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.sec6-card{
    border:0; 
    max-width: 33.33%;
    overflow: hidden!important;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }
  .displays-7-foot{
    font-size: 16px!important;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }

 /*Tablets and Ipads(landscape)*/
 @media (min-width:768px) and (max-width:1024px) and (orientation:landscape)
  {
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 1024px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }
      .mob-h{
        height: 600px!important;
      }
      .mobi-h{
        height: 600px;
      }
      .displays-7-7{
        font-size: 14px!important;
        line-height: 1.7em!important;
        color: #3f485d!important;
    }


     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;
        height: 70px;
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a!important;
    }
    .links:hover{
        color: #aac644!important;
    }
    .sec-one{
        height: 00px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 900px!important;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .two .container{
        margin-top: 0!important;
    }
    .three{
        height: 400px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 400px;
      
    }
    .four{
        background-color: #fffef8;
        height: 700px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .adds-2{
        height: 600px; 
        width: 370px;
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}
.displays-4-2{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #61794a;
    font-weight: 600;
    
    
}
.displays-5-2{
    font-family: 'Roboto',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
    color: #f8a715;
  
}

.five,.six, .seven{
    background-color: #fffef8;
    height: 400px;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
    padding-bottom: 15px;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.align-center {
    text-align: center;
}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }

 /*Low Resolution Tablets, Mobiles(Landscape)*/
 @media (min-width:481px) and (max-width:767px)
 {
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 767px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }


     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        /* padding-right: 100px;
        padding-left: 100px; */
        margin-top: 15px;
        /* height: 70px; */
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a!important;
    }
    .links:hover{
        color: #aac644!important;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .two{
        height: 1000px;
        width: 100%;
    }
    .three{
        height: 600px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 220px;
        padding-left: 20px!important;
        
      
    }
    .three-icon{
        padding-top: 2px!important;
    }
    .three-header{
        padding-top: 8px!important;
    }
    .four{
        background-color: #fffef8;
        height: 1300px;
        width: 100%;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .row-4{
        justify-content: center;
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 350px;
        width: 100%;
        
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4-2{
        font-family: 'Roboto',sans-serif;
        font-size: 0.9rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 700;
        text-align: center;
        
        
    }
    .displays-4-7{
        font-family: 'Roboto',sans-serif;
        font-size: 0.8rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 700;
        text-align: center!important;
        
    }

    .displays-5-2{
        font-family: 'Roboto',sans-serif;
        font-size: 1.296rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
        text-align: center;
      
}

 .seven{
    background-color: #fffef8;
    height: 1300px;
    width: 100%;
}
.five{
    background-color: #fffef8;
    height: 500px;
    width: 100%; 
}
.six{
    background-color: #fffef8;
    height: 1500px!important;
    width: 100%;
}
.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img-2{
    border-radius: 50%;
    height: 200px!important;
    width: 200px!important;
    object-fit: cover;
}
.sec6-card{
    border: 0;
}
.add-7{
    padding-top: 20px!important;
}
.row-seven{
    padding-top: 20px;
}
.add-read{
    padding-bottom: 30px;
}
.card-5{
    padding-bottom: 20px!important;
}
.head-5{
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.displays-7-7{
    font-size: 12px!important;
    line-height: 1.7em!important;
    color: #3f485d!important;
}
.align-center {
    text-align: center;
}
.form-eight{
    margin-left: 0!important;
    padding-left: 0!important;
}
.eight{
    height: 1000px!important;
}
.last-right{
    text-align: left!important;
    margin-top: 30px;
}
.last-email{
    margin-top: 10px;
}
.card-subtitle-2:before {
        content: '';
        width: 36px;
        height: 3px;
        display: block;
        margin-bottom: 20px;
        /* margin: inherit; */
        vertical-align: middle;
        margin-left: 210px;
        text-align: center!important;
        background-color: #aac644;
        
}
.add-card-7{
    padding-top: 20px;
}
.displays-7-foot{
    font-family: 'Roboto',sans-serif;
    font-size: 12px!important;
    line-height: 2em;
    font-weight: 400;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }

 /*Most of the Mobiles(Portraits*/
 @media(min-width:320px) and (max-width:480px)
 {
    /* nav{
        background-color: inherit!important;
       } */
    .container-fluid{
        padding:0;
      margin: 0;
      width: 100%;
     } 
     .container{
        /* padding:0;
        margin: 0; */
        max-width: 480px;
        
        padding-right: 30px;
        padding-left:30px;
        /* width: 1281px; */
        /* margin-right: -100px; */
        /*margin-right: -10px; */
        
  
        
      }
      .sec6-card{
        padding-left: 10px!important;
        border: 0;
        padding-bottom: 20px;
      }
      .mob-h{
        height: 100%!important;
        object-fit: cover;
      }
      .mobi-h{
        height: 600px!important;
      }

      .adds-3{
        object-fit: cover;
        width: 100%!important;
      }
      

     body{
        width: 100%;
    }
    .log{
        width: 40px;
        height: 40px;
    }
    .mynav{
        padding-right: 100px;
        padding-left: 100px;
        margin-top: 15px;

        /* height: 70px; */
    }
    .links{
        font-size: 17px;
        font-weight: 500;
        color: #61794a;
        /* background-color: white; */
    }
    .links:hover{
        color: #aac644;
    }
    .sec-one{
        height: 600px;
    }
    .swipe-btn{
        background-color: #aac644;
        height: 50px;
        width: 50px;
    }
    .capt{
        
        font-size: 100px;
        color: black;
        /* overflow: visible; */
        padding-bottom: 400px;
        text-align: left;
    }
    .add-p{
        font-size: 30px;
        font-weight: 500;
    }
    .add-h{
        font-size: 60px;
    }
    .rect{
        background-color: orange;
        opacity: 0.8;
        height: 700px;
        width: 100%;
    }
    .buts{
        background-color: #aac644;
        border-radius: 0;
        height: 50px;
        width: 150px;
        color: white;
        font-weight: bold;
    }
    .buts:hover{
        background-color: transparent;
        color: #aac644;
        border: 2px solid #aac644;
    }
    .displays-7-2{
        font-size: 18px!important;
        padding-bottom: 10px;
    }
    .two{
        height: 1000px;
        width: 100%;
    }
    .three{
        height: 750px;
    }
    .three-boxes{
        background-color: #61794a;
        height: 250px;
        padding-top: 2px!important;
        padding-left: 20px!important;
      
    }
    .three-icon{
        padding-top: 10px!important;
    }
    .four{
        background-color: #fffef8;
        height: 1200px;
        width: 100%;
    }
    .four-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .headers{
        color: #f8a715;
        font-size: 28px!important;
        font-family: 'Roboto',sans-serif; 
        font-weight:bold
    }
    .row-4{
        text-align: center!important;
       
    }
    .row-4-mob{
        padding-top: 20px;
    }
    
    .displays-5-2{
        font-family: 'Roboto',sans-serif;
        font-size: 1.296rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
        text-align: center;
    }

    .displays-4-2{
        font-family: 'Roboto',sans-serif;
        font-size: 0.9rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 700;
        text-align: center;
        
        
    }
    .displays-4-4{
        padding-bottom: 0!important;
    }
    .last{
        height: 100px;
        background-color: #61794a;
    }
    .add-icon{
        color: #aac644!important; 
       
    }
    .add-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 300px!important;
        width: 100%;
        
    }
    .box-1:hover{
        background-image: url("../img/box1-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-2:hover{
        background-image: url("../img/box2-bg.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .box-3:hover{
        background-image: url("../img/box3-img.jpg");
        background-size: cover;
        opacity: 0.5;
    }
    .small-box{
        height: 12px;
        width: 12px;
        border: 3px solid #aac644;
        content: "";
    }
    .vl {
        border-left: 6px solid green;
        height: 200px;
        position: absolute;
        /* left: 50%; */
        margin-left: 80px;
        margin-bottom: 20px;
        /* top: 0; */
      }

      .displays-4 {
        font-family: 'Roboto',sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #61794a;
        font-weight: 600;
        
        
    }

    .displays-5 {
        font-family: 'Roboto',sans-serif;
        font-size: 2.8rem;
        line-height: 1.2;
        font-weight: 700;
        color: #f8a715;
      
}
/* .row-seven{
    /* margin-top: 30px; */


 .seven{
    background-color: #fffef8;
    height: 1100px;
    width: 100%;
}
.five{
    background-color: #fffef8;
    height: 500px;
    width: 100%;
}
.six{
    background-color: #fffef8;
    height: 1400px!important;
    width: 100%;
}

.displays-2 {
    font-family: 'Poppins',sans-serif;
    font-size: 3.43rem;
    line-height: 1.2;
    color: #f8a715;
    font-weight: 600;
}
.displays-6 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.six .container{
    padding-left: 15px;
    padding-right: 15px;
}

.displays-6-6{
    font-family: 'Poppins',sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 600;
    color: #3f485d;

}
.card-img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.card-img-2{
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.flexes{
    display: flex;
    flex-direction: row;
}

.card-subtitle:before {
    content: '';
    width: 25px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #aac644;
    
}
.card-img-6{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.card-date:before {
    height: 12px;
    width: 1px;
    margin-left: 10px;
    content: '';
    display: inline-block;
    background-color: #61794a
}
.color-g{
    color: #61794a;
    font-weight: 400;
}
.six-link, .six-link:hover{
    color: #aac644;
    text-decoration: underline #aac644 2px;
   
}
.displays-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
}
.displays-7-7{
    font-family: 'Roboto',sans-serif;
    font-size: 1.0625rem;
    line-height: 2em;
    font-weight: 400;
    color: #3f485d!important;
}
.align-center {
    text-align: center;
}
.eight{
    height: 900px!important;
}
.eight .container{
    padding-left: 15px;
    padding-right: 15px;

}
.card-subtitle-2:before {
        content: '';
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 30px;
        vertical-align: middle;
        margin-right: 10px;
        background-color: #aac644;
}
.mob-last{
    margin-top: 20px;
}
.last-email{
    margin-top: 1rem;
}
.form-eight{
    padding-left: 0!important;
    margin-left: 0!important;
}
.displays-7-foot{
    font-size: 14px!important;
}
html {
    scroll-behavior: smooth;
  }

/* .last-btn{
    background-color: #aac644;
    border-radius: 0;
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
} */
/* .buts:hover{
    background-color: transparent;
    color: #aac644;
    border: 2px solid #aac644;
} */
 }



  



